
.content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.item {
    border: solid 1px #fff;
    width: 100px;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    display: inline-block;
}

.catlistholder .catimage {
    display: none;
}
.catimage {
    height: 100px;
    width: 100px;
}

.count {
    vertical-align: top;
    height: 128px;
    line-height: 2;
}

.inputarea{
    display: none;
}

input {
    margin-top: 10px;
}

.inputarea button {
    margin-top: 10px;
    margin-right: 10px;
}
